* {
  box-sizing: border-box;
}

html,
body {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

.title__category {
  color: #ed6436;
}

.button {
  position: inherit;
}

.information {
  background-color: #ed6436;
}

.principal-container {
  justify-content: space-between;
}

.gallery_photos {
  display: flex;
  justify-content: space-evenly;
}

.gallery__container {
  flex: 1;
}

.gallery__container img {
  width: 100%;
  height: 100%;
}
